@inherits LayoutComponentBase

<div class="page">
    <NavMenu />
    <main>
        @Body
    </main>
    <footer>
        <p>&copy; 2025 PakPulse - Introduction to Cloud Computing Project</p>
    </footer>
</div>
