<nav>
    <div class="nav-container">
        <NavLink href="" class="nav-logo">PakPulse</NavLink>
        <ul class="nav-links">
            <li><NavLink href="" Match="NavLinkMatch.All">Introduction</NavLink></li>
            <li><NavLink href="architecture">Architecture</NavLink></li>
            <li><NavLink href="azure-services">Azure Services</NavLink></li>
        </ul>
    </div>
</nav>
